@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family:"Kaushan Script" ;
    src: url(./fonts/KaushanScript-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5em;
    background-color: #faf3f3;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 1.4em;

    width: min(500px,80%);
    margin: 1.3em auto 0;
    padding: 2em 1.8em 1.7em;
    border-radius: 40px;
    border:  solid 1px #ccc;
    background-color: #f6d3d3;

    box-shadow: 6px 5px 4px rgba(0,0,0,0.6),
                -4px -4px 10px white;
}

.group{
    padding: 0.6em;
    border: solid 0.4px #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4) inset,
                -2px -2px 6px #fff inset;
}

.flex .display{
    padding:1.2em;
    width: 100%;
    outline: none;
    border: solid 3px #bbbbbb;
    border-radius: 5px;
    
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 3px;
    background-color: #d0d0d0;
}
.display.on{
    background-color: #8af754;
}
.display.error{
    color: rgb(133, 19, 19);
    font-weight: bolder;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
}
.flex .grid{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 1em;
}

.box{
    padding: 1em;
    text-align: center;
    border: solid 1px rgba(255, 0, 0, 0.15);
    border-radius: 10px;
    cursor: pointer;
    background-color: inherit;

    box-shadow: 3px 3px 3px rgba(0,0,0,0.6),
                -2px -2px 4px #fff;

}

.box:hover{
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4) inset,
                -2px -2px 5px white inset;
}

.clear{
    background-color: blue;
    color: #fff;
}
.operator{
    background-color: gray;
    color: #fff;
}
.power{
    grid-area: 1 / 1/ span 1 / span 2;
    font-family: Courier, monospace;
    background-color: rgb(251, 55, 55);
    color: #fff;
    border: gray;
}

.box.power:hover, .clear:hover{
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4) inset,
                -1px -1px 5px white inset;
}

@media (max-width:500px) {
    .flex{
        gap: 1em;
        padding: 1.5em 1.3em;
        border-radius: 20px;
        overflow: hidden;
    }
    .group{
        padding: 0.5em;
    }
    
    .flex .display{
        padding:1em;
    }
    .box{
        padding: 0.7em;
    }
}